@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  font-family: "Roboto", "Material Symbols Outlined";
  color: white;
}

body {
  margin: 0px;
  padding: 0px;
  background: #26547c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#searchContainer {
  position: absolute;
  width: 100%;
  top: 71px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#surround {
  position: relative;
  background-color: #00000062;
  border-radius: 10px;
  justify-content: center;
  width: 423px;
}

#errorContainer {
  position: absolute;
  left: calc(
    50% - 185px
  );
  top: calc(28% - 60px);
  width: 20%;
}

#error {
  color: #d62828;
}

#errorContainer {
  position: absolute;
  left: calc(
    50% - 185px
  );
  top: calc(28% - 60px);
  width: 20%;
}

#search {
  border: none;
  outline: none;
  background-color: #ffffff00;
  height: 50px;
  width: 280px;
  border: 0;
  padding: 10px;
}

#weather {
  position: block;
  width: 110px;
  height: 50px;
  border-radius: 10px;
  border: none;
  transition: width 400ms ease, height 400ms ease, box-shadow 600ms ease,
    font-size 400ms ease;
  background: #d62828;
  right: 40%;
  bottom: -25px;
  filter: none !important;
}

#weather:hover {
  background-position: 0px 500px;
  box-shadow: inset 0 0 100px 100px #f77f00;
}

#weatherRowContainer, #weatherContainer {
  position: absolute;
  width: 423px;
  top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tempContainer {
  position: relative;
  background-color: #00000062;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

#tempContainer > .material-icons-outlined {
  position: absolute;
  left: 30px;
  top: 50px;
  font-size: 75px;
}

#windContainer {
  position: relative;
  background-color: #00000062;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 5px;
}

#windContainer > .material-icons-outlined {
  position: absolute;
  left: 30px;
  top: 10px;
  font-size: 75px;
}

#dewPointContainer > .material-icons-outlined {
  position: absolute;
  left: 30px;
  top: 10px;
  font-size: 75px;
}

#humidityContainer > .material-icons-outlined {
  position: absolute;
  left: 30px;
  top: 10px;
  font-size: 75px;
}

#windDirectionText {
  position: absolute;
  top: 30px;
  font-size: 60px;
}

#windSpeedText {
  position: absolute;
  top: 150px;
}

#tempText {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 120px;
  top: 17px;
  font-size: 50px;
}

#tempUnit {
  font-size: 30px;
}

#windDirectionContainer {
  position: relative;
  background-color: #00000062;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 200px;
}

#extraContainer {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#humidityContainer {
  position: relative;
  background-color: #00000062;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 200px;
}

#dewPointContainer {
  position: relative;
  background-color: #00000062;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 200px;
  margin: 5px;
}

#humidityContainer > .material-icons-outlined {
  position: absolute;
  left: 69px;
  top: 10px;
  font-size: 75px;
  
}

#dewPointContainer > .material-icons-outlined {
  position: absolute;
  left: 69px;
  top: 10px;
  font-size: 75px;
}

#humidityText {
  position: absolute;
  top: 30px;
  font-size: 60px;
}

#dewPointText {
  position: absolute;
  top: 30px;
  font-size: 60px;
}

#weatherContainer {
  position: absolute;
  width: 423px;
  top: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#rowOne {
  position: absolute;
  width: 423px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rowTwo {
  padding-top: 0px;
  margin-top: 0px;
  position: relative;
  width: 423px;
  top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#rowThree {
  position: relative;
  width: 423px;
  top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#rowFour {
  position: relative;
  width: 423px;
  top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#weatherDescriptionContainer {
  position: relative;
  background-color: #00000062;
  border-radius: 10px;
  justify-content: center;
  width: 100%;
  height: auto;
}

#tableContainer {
  position: relative;
  background-color: #00000062;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 5px;
  flex-direction: column;
}

#tableButtonContainer {
  background-color: #00000062;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 415px;
  height: 30px;
  margin: 5px;
  flex-direction: row;
  border-radius: 10px;
}

.tableButton {
  position: relative;
  background-color: #75757500;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 20px;
  flex-direction: row;
  border-radius: 5px;
}

.tableButtonActive {
  color: white;
  position: relative;
  background-color: #d62828;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 20px;
  flex-direction: row;
  border-radius: 5px;
  font-weight: bold;
}

::selection {
  background: #d62828;
}

@media only screen and (max-width: 466px) {
  #weatherDescriptionContainer {
    position: relative;
    background-color: #ff0000;
    border-radius: 10px;
    margin: 5px;
    justify-content: center;
    width: 100%;
    height: auto;
  }
}